body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
}

.top-bar {
  padding: 20px;
}

.big-number {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
  font-family: "Courier New", monospace;
}

.tabs {
  margin: 20px 0;
  font-size: 14px;
}

.tabs button {
  background: #222;
  color: white;
  border: 1px solid #444;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
  font-size: 14px;
}

.tabs button:hover {
  background: #333;
}

button {
  background: #1a1a1a;
  color: white;
  border: 2px solid #444;
  padding: 6px 8px;
  font-family: "Courier New", monospace;
  cursor: pointer;
  transition: all 0.2s ease;

  border-radius: 6px;
  /* ← ここ重要 */
  width: 200px;
  /* ← ここ重要 */
  white-space: nowrap;

  font-size: 14px;
}

button:active {
  transform: scale(0.95);
}

.dimension-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.8fr;
  background: #1b1b1b;
  margin: 8px auto;
  padding: 4px;
  width: 600px;
  border: 1px solid #333;

  align-items: center;
  text-align: center;
}

.upgrades {
  margin: 20px 0;
  font-size: 14px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.upgrades button {
  background: #222;
  color: white;
  border: 1px solid #444;
  padding: 20px 10px;
  margin: 5px;
  cursor: pointer;
  width: 300px;
  font-size: 14px;
}

.can-buy {
  background: #060;
}

/*
@keyframes glow {
  from {
    box-shadow: 0 0 5px #00ffcc;
  }

  to {
    box-shadow: 0 0 20px #00ffcc;
  }
}
*/

.cannot-buy {
  opacity: 0.4;
  border-color: #444;
}

.can-buy:hover {
  background: #0a0;
}

.cannot-buy:hover {
  background: #333;
}

.dev-reset {
  background: #400;
  color: white;
  border: 2px solid #444;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
  font-size: 14px;
}

.dev-add {
  background: #222;
  color: white;
  border: 2px solid #444;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
  font-size: 14px;
}